{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}A collection of things{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    
    <label for="thing">Thing name</label>
    <input name="thing" required>

    <label for="nickname">Thing nickname</label>
    <input type="text" name="nickname" required>

    <input type="submit" value="Add to database">
  </form>
  <!-- <p>{{all_things}}</p> -->
  <ul>
    {% for thing in all_things%}
    <li>{{thing}}</li>
    {% endfor %}
  </ul>
{% endblock %}